body {
background-image: radial-gradient(red 5%, yellow 15%, green 60%);

}
/*body {font-family:Verdana, Geneva, Tahoma, sans-serif}
body {background-color:rgb(220, 6, 142);
color: blue;}

p {font: size 24pt;}
   h6 {color:yellow;}#nameme {color:rgb(209, 25, 25);font: 1em sans-serif;}
      
      .nameme {color:blueviolet;}
      .newname {color:black;}
      .oldname {color:antiquewhite;}
      .pink {color:pink;}
      
 the fonts size not working at the moment, probably as it is meant for a paragraph*/
